.Board {
    position: relative;
    margin: 0 auto;
    background-color: darkslategray;
    background-image:
        linear-gradient(aqua 1px, transparent 1px),
        linear-gradient(90deg, aqua 1px, transparent 1px);

}
.Controls {
    /* position: relative; */
    /* height: 150px;
    width: 150px; */
    /* margin: 0 auto; */
    /* text-align: center; */
    background-color: rgb(146, 158, 175);
    border: 5px solid rgba(0, 255, 255, 0.247);
}

.Cell {
    background: white;
    position: absolute;
}

.TEST{
    display: flex;
    justify-content: flex-end;

}