.Board {
    position: relative;
    /* margin: auto; */

    background-color: darkslategray;
    background-image:
        linear-gradient(aqua 1px, transparent 1px),
        linear-gradient(90deg, aqua 1px, transparent 1px);
    border: 5px solid black;
}

.Cell {
    background: white;
    position: absolute;
}